assessmentItem{
	font-family: _sans;
	font-size: 12px;
	color: #6f6f6f;
 	text-align: left;	
 	modal-popups: false;
	}
pageInPage{
	report-popup: url(report_popup.utp);
	popup-valign: middle;
	}

popupContentPage{
	scrollbar-policy: vertical;     
	}
popupContentPage:scrollableContainer{
	width: auto;
	}

simpleText{
	leading: 2px;
	popup-panel: url(popupPanel.utp);
	}

.biography{
	font-weight: bold;
	}
.definition{
	font-weight: bold;
	}

#testTitle{
	content: $[testTitle];
	font-size: 14px;
	color: #2B6C08;
	}
#currentPageTitle{
	content: $[currentItemTitle];
	font-size: 12px;
	font-weight: bold;
	color: #2B6C08;	
	}
#popupTitle{
	content: $[title];
	font-size: 12px;
	font-weight: bold;
	color: #2B6C08;	
	margin: 4 4 4 0;
	}
#reportPopupTitle{
	content: Activity report;
	font-size: 12px;
	font-weight: bold;
	color: #2B6C08;	
	}
#title{
	font-weight: bold;
	color: #2B6C08;	
	}
#indicator{
    content: $[currentItemIndex] / $[itemsCount];
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: #2B6C08;
    }

a{
	text-decoration: underline;
	popup-panel: url(popupPanel.utp);
	popup-valign: middle;
	}
a:hover{
	text-decoration: underline;
	color: #FF0000;
	}


/* ================== pages switcher ================== */

pagesSwitchBox{
	horizontalGap: 0px;
	verticalGap: 0px;
	buttonsInRow: 9;
	max-line-count: 1;
	scroll-left-button: on;
	scroll-right-button: on;
	show-neighbouring-buttons: 4;
	}

pagesSwitchBox:button{
	labelValign: center;
	labelHalign: center;
	src: url(btn_page.swf);
	}
pagesSwitchBox:button:label{
	font-size: 15px;
	text-align: center;
	color: #2B6C08;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 1px;
	}
pagesSwitchBox:button:label:over{
	color: #FFFFFF;
	}
pagesSwitchBox:button:label:press{
	color: #FFFFFF;
	}
pagesSwitchBox:button:label:disabled{
	color: #FFFFFF;
	}

pagesSwitchBox:scrollLeft{
	src: url(btn_prev.swf);
	}
pagesSwitchBox:scrollRight{
	src: url(btn_next.swf);
	}

nextItemNavigation{
	src: url(btn_next_page.swf);
	}
prevItemNavigation{
	src: url(btn_prev_page.swf);
	}

pagesSwitchBox:lessonreport{
	display-page-number: false;
	src: url(btn_page_report.swf);
	}
	
	
/* ================== media players ================== */

moviePlayer{
	interface: url(moviePlayer.utp);
	interface-fullscreen: url(moviePlayer_f.utp);
	clip-content: false;
	} 
soundPlayer{
	interface: url(audioPlayer.utp);
	clip-content: false;
	}
slideShowPlayer{
	interface: url(slideshowPlayer.utp);
	interface-fullscreen: url(slideshowPlayer_f.utp);
	clip-content: false;
	} 
imagePlayer{
	interface: url(imagePlayer.utp);
	interface-fullscreen: url(imagePlayer_f.utp);
	clip-content: false;
	}
simulationPlayer{
	interface: url(simulationPlayer.utp);
	interface-fullscreen: url(simulationPlayer_f.utp);
	clip-content: false;
	}
.noaudio{
	interface: url(slideshow_noaudioPlayer.utp);
	interface-fullscreen: url(slideshow_noaudioPlayer_f.utp);
	clip-content: false;	
	}

#downloadProgress{
	background-style: solid;
	background-color: #6E6E6E;
	border-style: none;
	height: 1;
	width: 90;
	}
#downloadProgress:bar{
	background-style: solid;
	background-color: #FF0000;
	border-style: none;
	height: 1;
	width: 90;
	}

#playProgress:button{
	src: url(btn_slider.swf);
	}
#playProgress:progress{
	background-style: solid;
	background-color: #6E6E6E;       
	border-style: none;
	height: 1px;
	width: 90;
	}
#playProgress:progress:bar{
	background-style: solid;
	background-color: #CBCBCB;
	border-style: none;
	height: 1px;  
	width: 90;      
	}

#volume:button{
	src: url(btn_slider_volume.swf);
	margin-top:22px;      
	}
#volume:progress{
	background-style: solid;
	background-color: #C1DA87;
	border-style: none;
	width: 28;
	margin-bottom: 7px;
	}
#volume:progress:bar{
	background-style: solid;
	background-color: #2B6C08;
	border-style: none;
	width: 28;
	margin-bottom: 7px;
	}

#totalTime{
	letter-spacing: 0;
	color: #6E6E6E;
	}
#playTime{
	letter-spacing: 0;
	color: #6E6E6E;
	}
#time_spacer{
	background-style: solid;
    background-color: #efefef;
	}
#player_spacer{
	background-style: solid;
    background-color: #efefef;
	}


/* ================== test buttons & tooltip ================== */

tooltip{
	align: center;
	text-align: center;
	color: #5A5A5A;
	border-style: solid;
	border-color: #5A5A5A;
	border-weight: 1px;
	background-style: solid;
	background-color: #ffffff;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.2;
	marginBottom: 3;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 1px;
	}

#fullscreen{
	tooltip-text: fullscreen;
	src: url(btn_fullscreen.swf);
	}
#close_popup{
	tooltip-text: close;
	src: url(btn_close.swf);
	margin-right: 16;
	}
#playPause{
	tooltip-text: play/pause;
	src: url(btn_playpause.swf);
	}
#stop{
	tooltip-text: stop;
	src: url(btn_stop.swf);
	}
#mute{
	tooltip-text: mute;
	src: url(btn_sound.swf)
	}
#previousSlide{
	tooltip-text: previous;
	src: url(btn_ss_prev.swf)
	}
#nextSlide{
	tooltip-text: next;
	src: url(btn_ss_next.swf);
	}
#drag_popup{
	src: url(btn_drag.swf);
	}


/* ================== button types/skins ================== */

button{
	src: url(btn_popup_icon.swf);
	popup-panel: url(popupPanel.utp);
	popup-valign: middle;
	}
.bio{
    src: url(btn_bio_icon.swf);
	}
.link{
    src: url(btn_link_icon.swf);
	}
.dict{
    src: url(btn_dict_icon.swf);
	}
.activity{
    src: url(btn_activity_icon.swf);
	}
.anim{
    src: url(btn_anim_icon.swf);
	}
.audio{
    src: url(btn_audio_icon.swf);
	}
.img{
    src: url(btn_img_icon.swf);
	}
.simul{
    src: url(btn_simul_icon.swf);
	}
.slideshow{
    src: url(btn_slideshow_icon.swf);
	}
.text{
    src: url(btn_text_icon.swf);
	}


/* ================== activity buttons & feedbacks ================== */

checkButton{
	tooltip-text: check;
	src: url(btn_check.swf);
	margin-right: 1px;
}
markAllButton{
	tooltip-text: check;
	src: url(btn_check.swf);
	margin-right: 1px;	
	}
resetButton{
	tooltip-text: reset;
	src: url(btn_reset.swf);
	margin-right: 33px;
	}
showAnswersButton{
	tooltip-text: show answers;
	src: url(btn_show_answers.swf);
	margin-right: 1px;
	}
demandFeedbackButton{
	tooltip-text: show feedback;
	src: url(btn_demand.swf);
	margin-left: 33px;	
	}

resultProgress{
	src: url(activity_progress.swf);
	}

textFeedbackView{
	color: #a9061b;
	border-style: solid;
	border-width: 2px;
	border-color: #ac0c16;
	border-radius: 11 11;
	margin-top: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 9px;
	padding-right: 9px;
	}


/* ================== group activity buttons & feedbacks ================== */

#checkButtonGr{
	tooltip-text: check;
	src: url(btn_check_gr.swf);
	margin-left: 1px;
	margin-right: 1px;	
	}

#markAllButtonGr{
	tooltip-text: check;
	src: url(btn_check_gr.swf);
	margin-left: 1px;
	margin-right: 1px;	
	}

#resetButtonGr{
	tooltip-text: reset;
	src: url(btn_reset_gr.swf);
	margin-right: 1px;
	}

#showAnswersButtonGr{
	tooltip-text: show answers;
	src: url(btn_show_answers_gr.swf);
	margin-right: 1px;
	}


/* ================== teacher panel buttons ================== */

teacherPanel{
	interface: url(teacher_panel.utp);
	texttoolbar-interface: url(texttoolbar.utp);
	marker-thickness-factor: 5px;
	}

colorPicker{
	border-style: none;
	background-style: none;        
    colors: #000000 #BD0000 #008951;
	default-color: #000000;
	list-valign: middle;
	list-halign: left;
	}
colorPicker:list{
	padding-right: 10px;
	}
colorPicker:item{
	src: url(btn_bgpicker_list.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: colour;
	}
colorPicker:preview{
	src: url(btn_bgpicker.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: colour;
	}

thicknessPicker{
	thickness: 1 2 3;
	list-valign: middle;
	list-halign: left;
	}
thicknessPicker:list{
	padding-right: 10px;
	}
thicknessPicker:item{
	border-style: none;
	background-style: none;
	icon-padding-top: 7;
	icon-padding-bottom: 7;
	icon-padding-left: 7;
	icon-padding-right: 7;
	icon-color: #2B6C08;
	src: url(btn_bgpicker_list.swf);
	tooltip-text: thickness;
	}
thicknessPicker:preview{
	icon-padding-top: 7;
	icon-padding-bottom: 7;
	icon-padding-left: 7;
	icon-padding-right: 7;
	icon-color: #2B6C08;
	src: url(btn_bgpicker.swf);
	tooltip-text: thickness;
	}

#textButton{
	tooltip-text: text;
	src: url(btn_texttool.swf);
	}
#pencilButton{
	tooltip-text: pencil;
	src: url(btn_penciltool.swf);
	}
#markerButton{
	tooltip-text: marker;
	src: url(btn_markertool.swf);
	}
#eraserButton{
	tooltip-text: eraser;
	src: url(btn_erasertool.swf);
	}
#incFontSize{
	tooltip-text: increase font;
	src: url(btn_increasefont.swf);
	}
#decFontSize{
	tooltip-text: decrease font;
	src: url(btn_decreasefont.swf);
	}
#circleButton{
	tooltip-text: circle;
	src: url(btn_circletool.swf);
	}
#rectangleButton{
	tooltip-text: rectangle;
	src: url(btn_rectangletool.swf);
	}
#shadeAreaButton{
	tooltip-text: shade area;
	src: url(btn_shadearea.swf);
	}
#markAreaButton{
	tooltip-text: mark area;
	src: url(btn_markarea.swf);
	}
#lineButton{
	tooltip-text: line;
	src: url(btn_linetool.swf);
	}
#clearAllButton{
	tooltip-text: clear all;
	src: url(btn_clearall.swf);
	}

#bold{
	tooltip-text: bold;
	src: url(btn_bold.swf);
	}
#italic{
	tooltip-text: italic;
	src: url(btn_italic.swf);
	}
#underline{
	tooltip-text: underline;
	src: url(btn_underline.swf);
	}

comboBox{
	border-style: none;
	border-color: #5F5F5F;
	border-thickness: 1px;
	backgroundStyle: solid;
	backgroundColor: #E4E4E4;
	}
comboBox:button{
	src: url(btn_dropdown.swf);
	}
comboBox:list{
	border-style: none;
	border-color: #5F5F5F;
	border-thickness: 1px;
	backgroundStyle: solid;
	backgroundColor: #E4E4E4;
	}

#color{
	border-style: none;
	background-style: none;        
    colors: #000000 #BD0000 #008951;
	default-color: #000000;
	list-valign: bottom;
	list-halign: center;
	}
#color:list{
	padding-top: 10px;
	}
#color:item{
	src: url(btn_bgpicker_list_txt.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: background color;
	}
#color:preview{
	src: url(btn_bgpicker_txt.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: tekst color;
	}

#textBackgroundColor{
	border-style: none;
	background-style: none;        
    colors: #000000 #BD0000 #FFFFFF;
	default-color: #FFFFFF;
	list-valign: bottom;
	list-halign: center;
	}
#textBackgroundColor:list{
	padding-top: 10px;
	}
#textBackgroundColor:item{
	src: url(btn_bgpicker_list_txt.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: background color;
	}
#textBackgroundColor:preview{
	src: url(btn_bgpicker_txt.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: background color;
	}

#textBackgroundAlpha{
	src: url(btn_bgpicker_list.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: background alpha ;
	}
#textBackgroundAlpha{
	src: url(btn_bgpicker_list.swf);
	icon: url(btn_colorpicker.swf);
	tooltip-text: background alpha ;
	}
#dragPanel{
	tooltip-text: drag panel;
	src: url(btn_drag_txt.swf);
	}


/* ================== jigsaw (ordering) ================== */


orderInteraction{
	alignWidths: true;
	alignHeights: true;
	orientation: vertical;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	itemHAlign: center;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: middle;
	}
 
simpleOrderChoice{
	text-align: center;
	border-style: none;
/*	background-style: solid;
	background-color: #919191; */
	background-style: gradient;
	background-gradient-colors: #659F26, #2C6D08;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-bottom:3px;
	margin-right:3px;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
	}
simpleOrderChoice:over{
	border-style: none;
/*	background-style: solid;
	background-color: #E3E3E3; */
	background-style: gradient;
	background-gradient-colors: #466F1A, #1E4B05;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	color: #ffffff;
	}
simpleOrderChoice:drag{
	border-style: none;
/*	background-style: solid;
	background-color: #E3E3E3; */
	background-style: gradient;
	background-gradient-colors: #466F1A, #1E4B05;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	color: #ffffff;	
	}

imageOrderChoice{
	border-style: none;
	background-style: solid;
	background-color: #919191;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom:2px;
	margin-right:2px;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
	}
imageOrderChoice:over{
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	}
imageOrderChoice:drag{
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	}
imageOrderChoice:alphaBackground:over{
	zPosition: above;
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	background-alpha: 0.4;
	margin-bottom:1px;
	margin-right:1px;
	}
imageOrderChoice:alphaBackground:drag{
	zPosition: above;
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	background-alpha: 0.4;
	margin-bottom:1px;
	margin-right:1px;	
	}

.horizontal{
	orientation: horizontal;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: center;
	mark-answer-skin-valign: top;
	}


/* ================== choice  ================== */

choiceInteraction{
	verticalGap: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}

simpleChoice{
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	button-valign: center;
	button-halign: left;
	clip-content: false;
	}
simpleChoice:content{
	padding-left:12px;
	}
simpleChoice:button{
	src: url(btn_choice.swf);
	}
simpleChoice:button.multiple{
	src: url(btn_mchoice.swf);
	}

imageChoice{
	border-style: none;
	background-style: none;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	buttonHalign: left;
	buttonValign: center;
	}
imageChoice:content{
	interface-fullscreen: url(imagePlayer_f.utp);
	border-style: none;
	background-style: none;
	margin-left: 15px;
	}
imageChoice:alphaBackground:over{
	zPosition: above;
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	background-alpha: 0.5;
	margin-left: 15px;
	}
imageChoice:button{
	src: url(btn_choice.swf);
	}
imageChoice:button.multiple{
	src: url(btn_mchoice.swf);
	}


/* ================== selection ================== */

matchChoiceInteraction{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
 	categories-spacing: 12px;
	categories-position: right;
	align-categories-widths: true;
	items-spacing: 19px;
	align-items-widths: true;
	align-items-heights: false;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	button-valign: center;
	button-halign: center;
	}

simpleMatchItem{
 	border-style: none;
 	background-style: none;
 	text-align: right;
	}
simpleMatchCategory{
	text-align: center;
	font-weight: bold;
	color: #646464;
	}	
simpleMatchCategory:button{
	src: url(btn_choice.swf);
	}
simpleMatchCategory:button.multiple{
	src: url(btn_mchoice.swf);
	}

imageMatchItem{
    border-style: none;
    background-style: none;
	margin-left: 15px;   
	}
imageMatchItem:content{
	interface-fullscreen: url(imagePlayer_f.utp);
	}
imageMatchItem:alphaBackground:over{
	zPosition: above;
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	background-alpha: 0.5;
	margin-left: -1px;
	}
imageMatchCategory:button{
	src: url(btn_choice.swf);
	}
imageMatchCategory:button.multiple{
	src: url(btn_mchoice.swf);
	}


/* ================== connection ================== */

matchInteraction{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	lineThickness: 1;
	lineColor: #585858;
	lineAlpha: 1;
	wrongLineColor: #ff0000;
	correctLineColor: #00c000;
	overLineColor: #919191;
	horizontalGap: 30px;
	verticalGap: 7px;
	}

simpleAssociableChoice:button{
	src: url(btn_connection.swf);
	}
simpleAssociableChoice:content.$set1{
    margin-right: 7px;  
    text-align: right;
	}
simpleAssociableChoice:content.$set2{
    margin-left: 10px;
	}

imageAssociableChoice{
    buttonValign: center;
	padding-top: 2px;     
	padding-bottom: 2px;
	}
imageAssociableChoice:content{
	interface-fullscreen: url(imagePlayer_f.utp);
	}
imageAssociableChoice:alphaBackground:over{
	zPosition: above;
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	background-alpha: 0.5;
	margin-left: -1px;
	}
imageAssociableChoice:button{
	border-style: none;
	src: url(btn_connection.swf);
	margin-left: 12px;
	margin-right: 12px;
	}
imageAssociableChoice:content.$set1{
    border-style: none;
    background-style: none;
    margin-right: 0px;
	}
imageAssociableChoice:content.$set2{
    border-style: none;
	background-style: none;
	margin-left: 0px;
	}


/* ================== gaps ================== */

textInteraction{
	padding-left: 1px;
	padding-right: 0px;	
	padding-top: 0px;
	padding-bottom: 10px;
	line-height: 26px;
	clip-content: false;
	}

/*>>> gapa editable */
textEntryInteraction{
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
	border-style: solid;
	border-color: #969696;
	background-style: solid;
	background-color: #ffffff;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}

/*>>> gapa dla sourcelisty */
imageEntryInteraction{
	border-style: none;
	background-style: solid;
	background-color: #C1DA87;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}
imageEntryInteraction:dragOver{
	border-style: none;
	background-style: solid;
	background-color: #466F1A;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}


/* ================== sourcelist ================== */

sourceList{  
	orientation: horizontal;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 16px;
	padding-bottom: 0px;
	align-widths: true;
	align-heights: true;
	halign: center; 
	itemSpacing: 2px;
	color: #FFFFFF;
	}

simpleSourceListItem{
	border-style: none;
/*	background-style: solid;
	background-color: #5A5A5A; */
	background-style: gradient;
	background-gradient-colors: #659F26, #2C6D08;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 4px;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
	}
simpleSourceListItem:over{
	border-style: none;
/*	background-style: solid;
	background-color: #919191;	*/
	background-style: gradient;
	background-gradient-colors: #466F1A, #1E4B05;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	}
simpleSourceListItem:drag{
	border-style: none;
	background-style: solid;
	background-color: #1E4B05;
	}	

imageSourceListItem{
	border-style: none;
	background-style: solid;
	background-color: #919191;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom:2px;
	margin-right:2px;
	shadow-style: solid;
	shadow-depth: 2;
	shadow-alpha: 0.1; 
	}
imageSourceListItem:over{
	border-style: none;
	background-style: solid;
	background-color: #E3E3E3;
	}


/* ================== dropdown ================== */

inlineChoiceInteraction{
	border-style: solid;
	border-thickness: 1px;
	border-color: #969696;
	background-style: solid;
	background-color: #ffffff;
	text-align:center;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;	
	}
inlineChoice{
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
	}
inlineChoiceInteraction:list{
	border-style: solid;
	border-thickness: 1px;
	border-color: #969696;
	background-style: solid;
	background-color: #ffffff;
	}
inlineChoice:over{
	border-style: none;
	background-style: solid;
	background-color: #C1DA87;
	color: #646464;
	}
inlineChoiceInteraction:button{
	src: url(btn_dropdown.swf);
	}


/* ================== marking ================== */

markingInteraction{
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}
markingInteraction:button{
	src: url(btn_mchoice.swf);
	}	
markingInteraction:button.single{
	src: url(btn_choice.swf);
	}
	

/* ================== labelling ================== */

labellingInteraction{
	line-color: #969696;
	line-thickness: 2px;
	start-point-type: dot;
	labels-gap: 15px;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}


/* ================== editing ================== */

editInteraction{
	border-style: solid;
	border-thickness: 1px;
	border-color: #969696;
	cols: 50;
	rows:20;
	}

openQuestionInteraction{
	src: url(openquestion.utp);
	interface: url(openquestion.utp);
	}

.name{
	cols: 25;
	rows: 1;
	}
.class{
	cols: 8;
	rows: 1;
	}


/* ================== ID ================== */

identificationInteraction{
	margin-left: 2px;
	margin-right: 2px;
	mark-answer-skin-src: url(btn_mark.swf);
	mark-answer-skin-halign: left;
	mark-answer-skin-valign: top;
	}
identificationInteraction:over{
	background-style: gradient;
	background-gradient-colors: #659F26, #2C6D08;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	color: #FFFFFF;
	margin-left: 2px;
	margin-right: 2px;
	}
identificationInteraction:selected{
	background-style: gradient;
	background-gradient-colors: #466F1A, #1E4B05;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	color: #FFFFFF;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
	}


/* ================== chart ================== */

tableInteraction.chart{
	background-style: none;
	border-style: none;
	margin: 0 0 0 0;
	columnWidths: auto;
	spacing: -1;
    
	columnClasses: ch_col1;
	columnClassRotation: norepeat;

	rowClasses: ch_row1;
	rowClassRotation: norepeat;
        
	decorationPriority: row,cell,column;
	}

td.chart{
	align: center;
	valign: middle;
	border-style: solid;    
	border-color: #B4B4B4;
	border-thickness: 1;
	background-style: none;
        
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}

col.ch_col1{
	background-style: none;
	border-left-style: none;
	border-top-style:none;
	border-right-style: none;
	border-bottom-style: none;
	border-width: 1px;
	border-color: #B4B4B4;
	}

tr.ch_row1{
	background-style: none;
	border-left-style: none;
	border-top-style:none;
	border-right-style: none;
	border-bottom-style: none;
	border-width: 1px;
	border-color: #B4B4B4;
	font-weight: bold;
	color: #646464;
	}


/* ================== chart without borders ================== */

.chart01{
	background-style: none;
	border-style: none;
	margin: 0 0 0 0;
        
	cellClass: chart_cell;
	}

td.chart_cell{
	align: center;
	valign: middle;
	border-style: none;
	}


/* ================== evaluation assistant ================== */

evaluationAssistant{
	background-style: none;
	border-style: none;
	spacing: -1;
        
	cellClass: evA;
	
	rowClasses: row_01;
	rowClassRotation: norepeat;
        
	decorationPriority: row,cell,column;
	}

td.evA{
	align: center;
	valign: middle;
	border-style: solid;      
	border-color: #B4B4B4;
	border-thickness: 1;
	background-style: none;
        
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}

tr.row_01{
	font-weight: bold;
	color: #646464;
	}

evaluationComment{
	border-style: solid;
	border-thickness: 1px;
	border-color: #969696;
	background-style: solid;
	background-color: #FFFFFF;
	fixed-height: 54px;	
	fixed-width: 215px;
	}

evaluationMark{
	display-type: dropdown;
	}
 
evaluationMark:dropdown{
	border-style: solid;
	border-color: #969696;
	background-style: solid;
	background-color: #FFFFFF;
	text-align:center;     
	}

evaluationMark:dropdown:list{
	border-style: solid;
	border-color: #969696;
	background-style: solid;
	background-color: #ffffff;
	}

evaluationMark:dropdown:over{
	border-style: none;
	background-style: solid;
	background-color: #e4e4e4;
	color: #646464;
	}

evaluationMark:dropdown:button{
    src: url(btn_dropdown.swf);
	}


/* ================== speech recognition ================== */

speechRec{
	interface: url(speechRecInterface.utp);
	}

phraseList{
	height: 300px;
	phraseListElementInterface: url(phraseListElement.utp);
	phraseListElementWidth: 500;
	over-color: #DCF0A0;
	selected-color: #ECF7CC;
	}

#recordStopRec{
	src: url(btn_recordStopRec.swf);
	tooltip-text: record/stop record;
	}
#playStopRec{
	src: url(btn_playStopRec.swf);
	tooltip-text: play/stop;
	}
#playOrg{
	src: url(btn_playOriginal.swf);
	tooltip-text: play;
	}

#globalScoreProgress{
	src: url(globalScoreProgress.swf);
	} 

#playProgressRec{
	background-style: solid;
	background-color: #6E6E6E;       
	border-style: none;
	height: 3px;
	width: 211;
	}
#playProgressRec:bar{
	background-style: solid;
	background-color: #CBCBCB;
	background-alpha: 1;
	border-style: none;
	height: 3px;  
	width: 211; 
	}

#chartOrg{
	chart-color: #00ff00;
	div-line-color: #00ff00;
	width: 256;
	height: 100;
	border-style: default;
	border-color: yellow;
	background-style: solid;
	background-color: #ffffff;
	}

phraseList:vscroll{
 	background-style: solid;
 	background-color: #F9FCED;
	}
phraseList:vscroll:upArrow{
	src: url(btn_phraselist_scroll_up.swf);
	}
phraseList:vscroll:downArrow{
	src: url(btn_phraselist_scroll_down.swf);
	}
phraseList:vscroll:thumb{
	src: url(btn_phraselist_scroll_slider.swf);
	margin: 1 0 1 0;
	}


/* ================== layout elements ================== */

shape{
	background-style: gradient;
	background-gradient-colors: #C2D886, #6CAC24;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 0;
	}
	
#panel_top{
	background-gradient-rotation: 90;
	border-radius: 8 8;
	}
	
#panel_bottom{
	background-gradient-rotation: 90;
	border-radius: 8 8;
	}

#columns_spacer{
	background-style: solid;
	background-color: #E4E4E4;
	margin-left: 16px;
	margin-right: 16px;
	}

#rows_spacer1{
	background-style: solid;
	background-color: #E4E4E4;
	margin-top: 16px;
	margin-bottom: 16px;
	}

#rows_spacer2{
	background-style: solid;
	background-color: #E4E4E4;
	margin-top: 16px;
	margin-bottom: 16px;
	}
	
#rows_spacer3{
	background-style: solid;
	background-color: #E4E4E4;
	margin-top: 16px;
	margin-bottom: 16px;
	}
	
#background_popup{
	background-style: solid;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #70AE28;
	border-weight: 1px;
	}

#panel_popup{
	background-gradient-rotation: 90;
	border-top-left-radius: 8 8;
	border-top-right-radius: 8 8;
	}

#background_screen{
	background-style: solid;
	background-color: #EFEFEF;
	}

#background_audioplayer{
	background-style: solid;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #E4E4E4;
	border-weight: 1px;
	}

#teacher_panel_bg{
	background-gradient-rotation: 0;
	border-radius: 8 8;
	}

#text_panel_bg{
	background-gradient-rotation: 90;
	border-radius: 8 8;
	}

	
/* ================== group elements ================== */

#group_outline{
	border-style: solid;
	border-width: 1;
	border-color: #E4E4E4;
	border-top-style: none;
	border-bottom-left-radius: 7 7;
	border-bottom-right-radius: 7 7;
	}

#group_panel_background{
	background-style: gradient;
	background-gradient-colors: #FFFFFF, #D8D8D8;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	border-bottom-left-radius: 7 7;
	border-bottom-right-radius: 7 7;
	}
	
#buttons_left_limiter{
	background-style: gradient;
	background-gradient-colors: #9E9E9E, #6C6C6C;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	border-bottom-left-radius: 7 7;
	}

#buttons_right_limiter{
	background-style: gradient;
	background-gradient-colors: #9E9E9E, #6C6C6C;
	background-gradient-alphas: 1, 1;
	background-gradient-ratios: 0, 100;
	background-gradient-rotation: 90;
	border-bottom-right-radius: 7 7;	
	}

	
/* ================== lesson raport ================== */

#testItemReport1{
	content: $[pages: 1:-2] Page $[index]: $[title.link] $[/pages];
	lineHeight: 200%;
	}
#testItemReport2{
	content: $[pages: 1:-2] $[result] % $[/pages];
	lineHeight: 200%;
	text-align: right;
	}
#showAnswers{
	content: $[pages: 1:-2] $[hints.showAnswers] times $[/pages];
	lineHeight: 200%;
	text-align: left;
	}
#total{
	content:Total $[result] %;
	text-align: right;
	font-weight: bold;
	color: #646464;
	}
printButton{
	src: url(btn_print.swf);
	tooltip-text: Print;
	}
#date{
	content: Date: $[currentDate];
	text-align: right;
	color: #646464;	
	}	
#time{
	content: You have spent $[totalTime] minutes working on this lesson;	
	}
#myScore{
    content: My score;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
	}
#speed{
    content: Speed;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
	}
#showAns{
	content: Answers shown?;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
	}
#resetAll{
    content: Clear your score and start the lesson again;
    text-align: left;	
	}
#resetall_button{
	src: url(resetAll_icon.swf);
	}

#total_background{
	background-gradient-rotation: 90;
	}


/* ================== report popup ================== */

#results_txt{
	content: Results;
	font-weight: bold;
	text-align: left;
	margin-right: -42;
	border-bottom-style: solid;
	border-color: #C8C8C8;
	}
#options_txt{
	content: Options used;
	font-weight: bold;
	text-align: left;
	margin-right: -32;
	border-bottom-style: solid;
	border-color: #C8C8C8;
	}  
#todo{
	content: to do;
	font-weight: bold;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin-top: 12;
	}  
#correct{
	content: correct;
	font-weight: bold;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin-top: 12;
	}  
#incorrect{
	content: incorrect;
	font-weight: bold;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin-top: 12;
	}  
#result{
	content: result;
	font-weight: bold;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin-top: 12;
	}
#errors_count{
	content: errors count;
	font-weight: bold;
	text-align: right;
	color: #AC0C16;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin-top: 12;
	}

#todo_text{
	font-weight: bold;
	margin-right: 11;
	padding-bottom: -1;
	}
#done_text{
	font-weight: bold;
	margin-right: 11;
	padding-bottom: -1;
	}
#errors_text{
	font-weight: bold;
	margin-right: 11;
	padding-bottom: -1;
	}
#result_text1{
	content: $[result] %;
	font-weight: bold;
	padding-bottom: 1;
	}
#mistakes{
	font-weight: bold;
	color: #AC0C16;
	margin-right: 11;
	padding-bottom: -1;
	}

#mark_correct_txt{
	content: mark correct;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	}
#mark_errors_txt{
	content: mark errors;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	}
#show_answers_txt{
	content: show answers;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	}
#remove_errors_txt{
	content: remove errors;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	}
#reset_activity_txt{
	content: reset activity;
	text-align: right;
	padding-right: 24;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	}
	
#mark_correct_hint{
	font-weight: bold;
	padding-bottom: -1;
	}
#mark_wrong_hint{
	font-weight: bold;
	padding-bottom: -1;
	}
#show_answers_hint{
	font-weight: bold;
	padding-bottom: -1;
	}
#reset_wrong_hint{
	font-weight: bold;
	padding-bottom: -1;
	}
#reset_hint{
	font-weight: bold;
	padding-bottom: -1;
	}

#mark_correct{
	tooltip-text: mark correct;
	src: url(btn_mark_correct.swf);
	margin-right: 1px;	
	}
#mark_wrong{
	tooltip-text: mark errors;
	src: url(btn_mark_wrong.swf);
	margin-right: 1px;	
	}
#show_answers{
	tooltip-text: show answers;
	src: url(btn_show_answers.swf);
	margin-right: 1px;
	}
#reset_wrong{
	tooltip-text: remove errors;
	src: url(btn_reset_wrong.swf);
	margin-right: 1px;
	}
#reset{
	tooltip-text: reset activity;
	src: url(btn_reset.swf);
	margin-right: 6px;
	}

#feedback_history_txt{
	content: Feedback history;
	font-weight: bold;
	margin: 16 0 0 0;
	}
feedbackHistoryView{
	background-style: solid;
	background-color: #F4F4F4;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #E4E4E4;
	margin: 0 6 16 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 2px;
	}
feedbackHistoryView:item{
	padding-left: 6;
	padding-right: 6;
	}
feedbackHistoryView:vscroll{
	border-style: none;
	border-color: #797A7C;
	background-style: gradient;
	background-gradient-colors: #797A7C, #94999B, #E7E7E7, #797A7C;
	background-gradient-alphas: 1, 1, 1, 1;
	background-gradient-ratios: 0, 1, 90, 91;
	}
feedbackHistoryView:vscroll:thumb{
	src: url(btn_vscroll_slider.swf);
	margin: 0 1 0 1;
	}
feedbackHistoryView:vscroll:upArrow{
	src: url(btn_vscroll_up.swf);
	margin: 0 0 0 0;
	clip-content: false;
	}	
feedbackHistoryView:vscroll:downArrow{
	src: url(btn_vscroll_down.swf);
	}

#report_bottom_panel{
	background-gradient-rotation: 90;
	border-bottom-left-radius: 8 8;
	border-bottom-right-radius: 8 8;
	}


/* ================== popup's shadow ================== */

#shadow_01{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.01;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_02{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.01;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_03{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.01;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_04{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.02;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_05{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.02;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_06{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.03;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_07{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.03;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_08{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.03;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_09{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.05;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
#shadow_10{
	background-style: solid;
	background-color: #000000;
	background-alpha: 0.05;
	border-top-left-radius: 20 20;
	border-top-right-radius: 20 20;
	border-bottom-left-radius: 10 10;
	border-bottom-right-radius: 10 10;
	}
