#currentPageTitle{
	content: $[testTitle];
	font-size: 150%px;
	font-weight: bold;
	color: #003063;	
}

#testTitle{
	content: $[chapter];
	font-size: 100%px;
	color: #003063;
}

#pageTitle{
	content: $[currentItemTitle];
	font-size: 120%px;
	font-weight: bold;
	color: #003063;
	padding-top: 6px;
	padding-left: 20px;		
}

.number{
	font-weight: bold;
	color: #df0030;	
}


/* ================== layout elements ================== */


#background_content{
	background-style: solid;
	background-color: #D5D5D5;
}
#background_content1{
	background-style: solid;
	background-color: #D5D5D5;
}
#background_keyboard{
	border-style: solid;
	border-color: #df0030;
	border-weight: 1px;
	background-style: solid;
	background-color: #eb627f;
	border-radius: 5,5;
}

#popup_panel{
	backgroundStyle: gradient;
	background-gradient-colors: #EC6682,#EC6682,#DF0030,#DF0030;
	background-gradient-alphas: 1,1,1,1;
	background-gradient-ratios: 0,49,50,100;
	background-gradient-rotation: 90;
	border-top-left-radius: 5 5;
	border-top-right-radius: 5 5;
	border-style: solid;
	border-color: #DF0030;
	border-thickness: 1px;
	border-bottom-style: none;
}

#popup_background{
	border-style: solid;
	border-color: #DF0030;
	border-thickness: 1px;
	background-style: solid;
	background-color: #FFFFFF;
}

#popup_background1{
	border-style: solid;
	border-color: #7C7C7C;
	border-thickness: 1px;
	background-style: solid;
	background-color: #FFFFFF;
}

#bg_movie{
	border-style: solid;
	border-color: #AEAEAE;
	border-thickness: 1px;
	background-style: solid;
	background-color: #FFFFFF;
}


/* ==== moviePlayer_originalSize === */

#movie_bgOrginalSize01{
	src: url(movie_bgOrginalSize01.png);
}

#movie_bgOrginalSize02{
	src: url(movie_bgOrginalSize02.png);
}

#backgroundMovie_white{
	border-style: solid;
	border-color: #595959;
	border-thickness: 1px;
	border-left-style: none;
	border-right-style: none;
	background-style: solid;
	background-color: #FFFFFF;
}

#shadow_MovieOrginalSize{
	border-style: solid;
	border-color: #595959;
	border-thickness: 1px;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	backgroundStyle: gradient;
	background-gradient-colors: #EAEAEA,#C4C4C4,#A0A0A0,#7F7F7F;
	background-gradient-alphas:1,1,1,1;
	background-gradient-ratios:20,40,60,75;
	background-gradient-rotation:90;
	height: 5px;
}
